* {
    box-sizing: border-box;
}

html  {
    font-family: 'Ubuntu', sans-serif;
}

body {
        margin: 0;
    }

/* Grid view. Source https://www.w3schools.com/css/css_rwd_grid.asp */
[class*="col-"] {
    float: left;
    padding: 1px;
    border: 1px solid red;
}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*klarerer flyten*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Responsive mobil inspiration https://www.w3schools.com/css/css_rwd_mediaqueries.asp*/
@media screen and (max-width: 660px) {
    [class*="col-"] {
        width: 100%;
    }


    div.col-2.innhold {
        font-size: 40%;
        width: 20%;
    }
    div.col-2 {
        font-size: 30%;
        width: 30%;
    }
    a.col-1 {
        font-size: 150%;
    }

    .meny {
        height: 70px;
    }

    #aboutUsMobil {
        margin-top: 0px;
    }

    .meny a {
        font-size: 40px;
        border: 2px solid;
    }

}

/* Meny */
.meny a {
    margin-top: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.meny a:hover {
        text-decoration: underline;
}

/*bilder*/
.lysLogo {
    float: left;
    margin-top: 8px;
    margin-left: 10%;
    font-size: 30px;
}


/* seksjoner */
section.meny {
    font-size: 20px;
    margin: 0;
    background-color: lightseagreen;
    height: 50px;
    width: 100%;
    padding: 0%;
    max-width: none;
    float: top;
    display: table;
}

section.innledning {
    margin: 0;
    background-color: white;
    height: 45vh;
    width: 100%;
    padding: 0%;
    max-width: none;
    display: table;
}


section.hovedinnhold {
        background-color: black;
        height: 50vh;
        width: 100%;
        padding: 0;
        max-width: none;
        display: table;
        float: right;
    color: white;

}

section.about {
    background-color: white;
    height: 95vh;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;
    display: table;
    float: right;
    color: black;

}
/* innhold forsiden */

div.innhold {
    padding-top: 10vh;
}


div.innhold h1 {
    font-size: 3em;
}

.about {
    font-size: 20px;
    margin-right: 10px;
    margin: 0;
    padding-right: 40%;
}

.content {
    margin: 0;
    padding-top: 10vh;
}

#slagord {
    font-size: 25px;
}


.gpslogo {
    margin-top: 5%;
    margin-right: 5%;
    font-size: 8em;
    float: left;
}

.nLogo {
    padding-top: 4%;
    font-size: 8em;
    float: right;
}

/*innhold aboutsiden*/

div.aboutUs {
    height: 400px;
    margin-top: 5vh;
}

.brukerIkon {
    font-size: 100px;
    float: left;
    margin-right: 15px;
}
.brukerIkon2 {
    margin-right: 15px;
    font-size: 100px;
    float: left;
}


/*innhold contactsiden*/

div.contact {
    margin-top: 50px;
    margin-bottom: 80px;
}

.lightbulb {
    width: 40%;
    float: left;
    padding-right: 15px;
}

.contact h1 {
    margin: 0px;
}

.contact p {
    font-size: 18px;
}

/* Contact form code source: https://www.w3schools.com/howto/howto_css_contact_form.asp */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
